@import "../../../../theme/base";

.dz {
  border: 3px dotted darken($color-primary, 14%);
  background-color: transparent;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;

  &__wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: $space-l;
    padding-right: $dropzone-file-preview-sidebar-width-shrink + $space-l;
  }

  &__message {
    @include font-properties($text-lead-1);
    display: flex;
    flex-direction: column;
    align-items: center;

    &--upload-icon {
      width: 84px;
      margin-top: $space-s;
    }
  }
}
