@import "../../theme/base";

$NAVBAR_HEIGHT: 84px;
$LOGO_WIDTH: 98px;

.navbar {
  z-index: $z-index-navigation;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;

  &__logo {
    height: $NAVBAR_HEIGHT;
    display: flex;
    justify-content: center;
    flex-direction: column;

    a {
      background-color: $color-brand;
      width: $LOGO_WIDTH * 1.2;
    }

    svg {
      width: $LOGO_WIDTH;
    }
  }

  &__right {
    height: $NAVBAR_HEIGHT * 1.3;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-end;
    background-color: $color-brand;
    padding-bottom: $space-m;
  }
}
